---
import AppLayout from '../../layouts/AppLayout.astro';

const appDetails = {
  appName: "About This Hack",
  appIcon: "/icons/about-this-hack.png",
  tagline: "Your Mac's Story, Beautifully Told.",
  version: "v2.0.2",
  downloadUrl: "https://github.com/2009-Nissan-Cube/About-This-Hack/releases/latest",
  sourceCodeUrl: "https://github.com/2009-Nissan-Cube/About-This-Hack",
  license: "MIT",
  compatibility: "macOS 10.12 Sierra and newer",
  showcaseImageUrl: "https://github.com/0xCUB3/About-This-Hack/assets/94565160/26457de7-881b-4d4e-ab36-ee77a825da64"
};
---

<AppLayout 
  appName={appDetails.appName} 
  appIcon={appDetails.appIcon} 
  logoSrc="/icons/logo.svg"
  pageTitle={`${appDetails.appName} - ${appDetails.tagline}`}>

  <div class="app-landing-content">
    <section class="hero">
      <img src={appDetails.appIcon} alt={`${appDetails.appName} icon`} class="app-icon-main" />
      <h1>{appDetails.appName}</h1>
      <p class="tagline">{appDetails.tagline}</p>
      
      <div class="action-buttons">
        <a href={appDetails.downloadUrl} target="_blank" rel="noopener noreferrer" class="button primary-action button--animated-icon button--icon-apple">
          <span class="button-text">Download <span class="version">{appDetails.version}</span></span>
        </a>
        <a href={appDetails.sourceCodeUrl} target="_blank" rel="noopener noreferrer" class="button source-code-link button--animated-icon button--icon-github">
          <span class="button-text">Source code <span class="license">Licensed under {appDetails.license}</span></span>
        </a>
      </div>
      
      <p class="compatibility">Compatible with {appDetails.compatibility}</p>
    </section>

    <section class="hero-showcase">
        <img src={appDetails.showcaseImageUrl} alt="About This Hack Overview Screenshot" loading="lazy" /> 
    </section>

    <section class="features">  
      <div class="feature-text-group">
        <div class="feature-text-item">
          <h3>Remember this?</h3>
          <p>A throwback to the (better) About This Mac view from pre-Ventura. Get instant access to essential system specs, including your computer model, OS version, and processor details. Hackintosh users will appreciate the Clover or OpenCore bootloader version display.</p>
        </div>

        <div class="feature-text-item">
          <h3>More Features</h3>
          <ul>
              <li>Visualize up to three of your connected displays with their respective resolutions</li>
              <li>Get a clear picture of your startup disk, including name, available space, and disk type</li>
              <li>Access a list of support resources for both Mac and Hackintosh users</li>
              <li>Clean, native macOS design that feels right at home</li>
          </ul>
        </div>
      </div>  
    </section>
  </div>
</AppLayout> 